.bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 729px;



    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    background-image: url(https://universe.github.com/cta-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bar.visible {
    transform: translateY(0);
}

.logoX {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 29px;
    height: 29px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    z-index: 9999;
}

.logoX.visible {
    display: block;
}

/* Adjust positioning for smaller screens */
@media (max-width: 600px) {
    .logoX {
        top: 5px;
        right: 5px;
    }
}